.main_header {
    margin: 0 0 1em 0;
    background-color: black;
    height: 4em;
    color: white;
    display: flex;
    padding: 0 1vw;
}

.main_header .spacer {
    flex-grow: 1;
}

.main_header button {
    padding: 1.75em 1em 1.75em 1em;
    background-color: black;
    color: white;
    border-style: none;
}

.main_header button:hover {
    background-color: grey;
}

.main_header button.active {
    text-decoration: underline;
}
